.git
.gitignore
.idea
.vscode
.run
.env
.env.*
**/__pycache__
**/*.py[cod]
**/*.db
**/*.db-shm
**/*.db-wal
backend/config/config.yaml
backend/config/my_profile.md
backend/config/*.pdf
backend/config/papers
backend/config/prompts
backend/config/email_templates
frontend/node_modules
frontend/dist
dist
build
